* {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-color: #000;
    --main-bg-color: #fff;
    --secondary-bg-color: #c9e9e4;
    --tertiary-bg-color: #fcc2c0;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Nav Styling */
header {
    width: 100vw;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 45px;
    font-weight: 700;
}
#nav-links{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
#nav-links a {
    transition-property: opacity;
    transition-duration: 0.5s;
}
#nav-links a:hover {
    opacity: 0.5;
}
#nav-booking {
    border: none;
    background: var(--tertiary-bg-color);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    padding-left: 5px;
    padding-right: 5px;
}
#nav-booking:hover {
    opacity: 0.5;
    background: none;
}
#hamburger {
    display: none;
    cursor: pointer;
}
/* Mobile Nav */
@media screen and (max-width:900px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hamburger {
        display: block;
        width: 50px;
        transition-property: opacity;
        transition-duration: 0.5s;
    }
    #hamburger:hover {
        opacity: 0.5;
    }
    #nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
    }
}
ul a {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 30px;
    font-weight: 600;
}

/* CTA1 Styling */
#cta1 {
    background: var(--secondary-bg-color);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#cta1-text {
    font-size: 45px;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#cta1-text button {
    border: none;
    background: var(--tertiary-bg-color);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 10px;
}
#cta1-text button:hover {
    opacity: 0.5;
    background: var(--secondary-bg-color);
}
#cta1-image img {
    width: 50vw;
    height: 100%;
    display: block;
    object-fit: cover;
}
/* Mobile CTA1 */
@media screen and (max-width: 900px) {
    #cta1 {
        flex-direction: column;
    }
    #cta1-text {
        width: 100vw;
        order: 2;
        min-height: 300px;
    }
    #cta1-image img {
        width: 100vw;
    }
}

/* Price Styling */
#price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
#price-text {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#price-image {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#price-image img {
    width: max(30vw, 500px);
}
#price-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    gap: 20px;
}
#price-menu button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}
.price-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#price-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
#price-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
}
@media screen and (max-width: 900px) {
    #price {
        flex-direction: column;
        gap: 50px;
    }
}
@media screen and (max-width: 500px) {
    #price-image img {
        width: max(30vw, 320px);
    }
    .price-item {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* CTA2 Styling */
#cta2 {
    background: var(--tertiary-bg-color);
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#cta2-text {
    display: flex;
    justify-content: center;
    z-index: 1;
}
#cta2-text h2 {
    width: 50vw;
    font-size: 45px;
}
#cta2-text button {
    border: none;
    background: var(--secondary-bg-color);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    padding: 10px;
}
#cta2-text button:hover {
    opacity: 0.5;
    background: none;
}
#cta2-book-animation {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 500px) {
    #cta2-text {
        flex-direction: column;
        text-align: center;
    }
}

/* Scrolling Text Animation */
.scrolling-text {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 100vw;
    font-size: 2vw;
    font-weight: 700;
}
.scrolling-text span {
    animation: scroll 60s linear infinite;
    display: inline-block;
}
.scroll2 span{
    animation-delay: 30s;
}
@keyframes scroll {
    0% {
    transform: translateX(100%);
    }
    100% {
    transform: translateX(-100%);
    }
}

/* Contact Styling */
#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    #contact {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 50px;
    }
}

/* Footer Styling */
footer {
    background: #272626;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
    text-align: center;
}
#footer-title {
    font-size: 25px;
}
#footer-socials {
    color: white;
    border-radius: 30px;
    background: var(--main-bg-color);
    width: 80px;
}
#footer-socials img{
    width: 50px;
    color: #fff;
}

/* Modal Screen for Pricing */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#modal1 {
    display:none;
}
#modal2 {
    display:none;
}
#modal3 {
    display:none;
}

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #888;
    width: 80%;
}
@media screen and (max-width: 500px) {
    .modal-content {
        width: 50%;
    }
}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}